<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create/Edit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='create_edit.css')}}">
    <link rel="shortcut icon" href="{{url_for('static',filename='images/favicon.ico')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{url_for('doStuff')}}">
                <img src="{{url_for('static',filename='images/logo.png')}}">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{url_for('getHelp')}}">Help</a></li>
            <li><a href="{{url_for('gdisconnect')}}">Log Out</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
        <div class="row mac-row">
            <div class="col-md-3">
                {% if title %}
                <input class="form-control input-lg" id="title" type="text" placeholder="Title *" value="{{title}}">
                {% else %}
                <input class="form-control input-lg" id="title" type="text" placeholder="Title *">
                {% endif %}
            </div>
        </div>
        <div class="row mac-row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ingredients</h3>
                    </div>
                    <div class="panel-body" id="ingredients">
                        {% if ingredients %}
                        {% for ingredient in ingredients %}
                        <div class="row form-row">
                            <div class="col-md-3 col-md-offset-1">
                                <input class="form-control ingredient" type="text" placeholder="Name *" value="{{ingredient.name}}">
                            </div>
                            <div class="col-md-2">
                                <input class="form-control ingredient" type="number" step="0.01" min="0" placeholder="Number" value="{{ingredient.number}}">
                            </div>
                            <div class="col-md-3">
                                {% if ingredient.units == None %}
                                <input class="form-control ingredient" type="text" placeholder="Units">
                                {% else %}
                                <input class="form-control ingredient" type="text" placeholder="Units" value="{{ingredient.units}}">
                                {% endif %}
                            </div>
                            <div class="col-md-1">
                                <input class="btn btn-default" id="add_ingredient" type="button" value ="+">
                            </div>
                            {% if loop.length > 1 %}
                            <div class="col-md-1">
                                <input class="btn btn-default" id="remove_ingredient" type="button" value ="-">
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="row form-row">
                            <div class="col-md-3 col-md-offset-1">
                                <input class="form-control ingredient" type="text" placeholder="Name *">
                            </div>
                            <div class="col-md-2">
                                <input class="form-control ingredient" type="number" step="0.01" min="0" placeholder="Number">
                            </div>
                            <div class="col-md-3">
                                <input class="form-control ingredient" type="text" placeholder="Units">
                            </div>
                            <div class="col-md-1">
                                <input class="btn btn-default" id="add_ingredient" type="button" value ="+">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mac-row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Directions</h3>
                    </div>
                    <div class="panel-body" id="directions">
                        {% if directions %}
                        {% for direction in directions %}
                        {% set base='direction_' + loop.index0|string %}
                        {% set description=base + '_description' %}
                        {% set duration=base + '_duration' %}
                        <div class="row form-row">
                            <div class="col-md-6 col-md-offset-1">
                                <textarea class="form-control direction" rows=1 placeholder="Description *">{{direction.description}}</textarea>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control direction" type="number" step="0.01" min="0" placeholder="Duration (min)" value = "{{direction.duration}}">
                            </div>
                            <div class="col-md-1">
                                <input class="btn btn-default" id="add_direction" type="button" value ="+">
                            </div>
                            {% if loop.length > 1 %}
                            <div class="col-md-1">
                                <input class="btn btn-default" id="remove_direction" type="button" value ="-">
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="row form-row">
                            <div class="col-md-6 col-md-offset-1">
                                <textarea class="form-control direction" rows=1 placeholder="Description *"></textarea>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control direction" type="number" step="0.01" min="0" placeholder="Duration (min)">
                            </div>
                            <div class="col-md-1">
                                <input class="btn btn-default" id="add_direction" type="button" value ="+">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mac-row">
            <div class="col-md-12 submit-container">
                <button type="button" class="btn" id="save-as">Save As</button>
                <button type="button" class="btn" id="save">Save</button>
            </div>
        </div>
    </div>
    <script>
        var recipe_id = {{recipe_id|tojson}};

        if (recipe_id) {$('#save,#save-as').show()} else {$('#save-as').show()};

        function loadStyleSheet(src) {
            if (document.createStyleSheet){
                document.createStyleSheet(src);
            } else {
                $("head").append($("<link rel='stylesheet' href='"+src+"' type='text/css' media='screen' />"));
            };
        };

        loadStyleSheet("{{url_for('static',filename='spinner.css')}}");

        $.getScript("{{url_for('static',filename='bootstrap.min.js')}}");

        $.getScript("{{url_for('static',filename='create_edit.js')}}");

        function flashMessage(button_name) {
            console.log('triggering');
            var content = '<div class="alert alert-success alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span></button>';
            if (button_name==='Save') {content+=' Changes Saved!</div>'} else {content+=' New Recipe Created!</div>'};
            $('.timer-loader,.load-text').remove();
            $('.navbar-header').after(content);
        };

        $(document).on('click','#save,#save-as', function() {
            var button_name = $(this).text(),
                recipe = packageRecipe(),
                data = (button_name==='Save') ? {recipe_id:recipe_id,recipe:recipe} : {recipe:recipe},
                load_message = (button_name==='Save') ? 'Saving Changes ...' : 'Creating New Recipe ...',
                buttons = $('#save,#save-as');
            if (recipe) {
                buttons.prop('disabled',true);
                $('.alert').remove();
                $('.navbar-header').after('<div class="timer-loader"></div>').after('<p class="navbar-text load-text">' + load_message + '</p>');
                $.ajax({
                    type: "POST",
                    url: "/create/edit",
                    data: data,
                    dataType: "text",
                    success:function(data) {window.recipe_id=data; flashMessage(button_name); $('#save').show(); buttons.prop('disabled',false);}
                });
            } else {
                var content = '<div class="alert alert-danger alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span></button> Please fill out required fields.</div>';
                $('.alert').remove();
                $('.navbar-header').after(content);
            };
        });

        function packageRecipe() {
            var recipe = [],
                ingredients = [],
                ingredient = [],
                directions = [],
                direction = [],
                title = $('#title'),
                val = title.val(),
                missing_fields = false;
            recipe.push(val);
            if (!val.length) {title.addClass('attention'); missing_fields=true;};
            $('.ingredient').each(function(i) {
                val = $(this).val();
                if (!ingredient.length) {
                    ingredient.push(val);
                    if (!val.length) {$(this).addClass('attention'); missing_fields=true;};
                } else if ((i+1)%3===0) {
                    ingredient.push(val);
                    ingredients.push(ingredient);
                    ingredient=[];
                } else {
                    ingredient.push(val);
                };
            });
            recipe.push(ingredients);
            $('.direction').each(function(i) {
                val = $(this).val();
                if (!direction.length) {
                    direction.push(val);
                    if (!val.length) {$(this).addClass('attention'); missing_fields=true;};
                } else {
                    direction.push(val);
                    directions.push(direction);
                    direction=[];
                };
            });
            recipe.push(directions);
            if (!missing_fields) {return JSON.stringify(recipe);};
        };

        $(document).on('change', '#title,.ingredient,.direction', function() {
            if ($(this).hasClass('attention') && $(this).val() !== "") {
                $(this).removeClass('attention');
            };
        });
    </script>
</body>
</html>